<div class="container-fluid">
    <div class="row">
        <h1 style="text-align: center" ng-bind="phone.name | uppercase"></h1>
        <h2 style="text-align: center" ng-bind-template="by {{phone.manufacturer}}"></h2>
    </div>
    <div class="row" >
        <div class="col-md-2 col-md-offset-1">
            <img ng-src="{{avatarImageURL}}" ng-click="setImage(avatarImageURL)" class="thumbnail" style="width: 200px">
        </div>
        <div class="col-md-7">
            <ul class="specs" style="list-style-type: none">
                <h3>Details: </h3>
                <li ng-repeat="prop in details">
                    <span ng-bind="prop.title | uppercase "></span> : <span ng-bind="prop.value"></span>
                </li>
                <span ng-bind-template="Votes: {{phone.votes}} {{phone.votes | checkmark }}"> </span>
            </ul>
        </div>
    </div>
    <div class="row" style="text-align: center" > <img ng-src="{{enlargedImageUrl}}" ng-hide="enlargedImageUrl==null" class="phone"> </div>

</div>